input:not([type="radio"]),
select,
textarea {
  flex-grow: 1;
  background: transparent;
  border: 0;
  color: var(--text-primary);
}
textarea {
  resize: vertical;
}

.wrapper {
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1em;
}

.wrapper input:not([type="radio"]) + label,
.wrapper textarea + label {
  top: -1em;
  left: 0.85em;
  position: absolute;
  background-color: var(--background-primary);
  padding: 0.2em 0.5em;
}
