.wrapper {
}
.chatWrapper {
  border: 1px solid;
  width: 100%;
  max-width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
}
.chatMessages {
  grid-row: 1;
  overflow: scroll;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.chatInput {
  grid-row: 2;
}

.chatMessageWrapper {
  background-color: rgba(73, 123, 250, 0.25);
}
.chatMessageClient {
  font-weight: bold;
}
.chatMessage {
}
