.wrapper {
}
.flexGrow {
  flex-grow: 1;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.inputRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.topHeaderWrapper {
  display: flex;
  justify-content: space-between;
}
.topHeaderWrapperImg {
  background-color: var(--text-primary);
  width: 150px;
  height: 150px;
}
