.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameWrapper {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.4em;
  word-break: break-all;
  transition: 1s;
}
.nameWrapper:hover {
  transition: 1s;
  letter-spacing: 1rem;
}

.name {
}
.name::first-letter {
  font-size: 2rem;
}
