.app {
  background-color: var(--background-primary);
  color: var(--text-primary);
  min-height: 100vh;
}

.compass-icon {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  stroke-width: 0.4;
}

main {
  display: flex;
  justify-content: center;
}
.main-wrapper {
  width: 100%;
  max-width: 750px;
}
