.app {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-row: 1;
}
main {
  grid-row: 2;
  position: relative;
}
main > * {
  height: 100%;
}
footer {
  grid-row: 3;
}

.compass-icon {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
